{% load static %}
<div class="article-meta">
  <a href="{% url 'profile' username=article.author.username %}">
    <img src="{% if article.author.image %}{{ article.author.image }}{% else %}{% static 'images/default-avatar.svg' %}{% endif %}" alt="{{ article.author.username }}">
  </a>
  <div class="info">
    <a href="{% url 'profile' username=article.author.username %}" class="author">{{ article.author.username }}</a>
    <span class="date">{{ article.created|date:"F j, Y" }}</span>
  </div>
  {% if user == article.author %}
    <a href="{% url 'article_edit' slug=article.slug %}" class="btn btn-sm btn-outline-secondary">
      <i class="ion-edit"></i>&nbsp;Edit Article
    </a>
    <form method="post" action="{% url 'article_delete' slug=article.slug %}" style="display:inline">
      {% csrf_token %}
      <button class="btn btn-sm btn-outline-danger" type="submit">
        <i class="ion-trash-a"></i>&nbsp;Delete Article
      </button>
    </form>
  {% elif user.is_authenticated %}
    {% include "partials/follow_button.html" with profile_user=article.author %}
    {% include "partials/favorite_button.html" %}
  {% endif %}
</div>
