{% extends "base.html" %}
{% load static %}
{% load markdown_filter %}

{% block content %}
<div class="article-page">
  <div class="banner">
    <div class="container">
      <h1>{{ article.title }}</h1>
      {% include "partials/article_meta.html" %}
    </div>
  </div>

  <div class="container page">
    <div class="row article-content">
      <div class="col-md-12">
        {{ article.content|render_markdown }}
      </div>
    </div>

    {% if article.tags.all %}
    <ul class="tag-list">
      {% for tag in article.tags.all %}
      <li class="tag-default tag-pill tag-outline">{{ tag.name }}</li>
      {% endfor %}
    </ul>
    {% endif %}

    <hr>

    <div class="article-actions">
      {% include "partials/article_meta.html" %}
    </div>

    <div class="row">
      <div class="col-xs-12 col-md-8 offset-md-2">
        <div id="comments-section">
          {% if user.is_authenticated %}
          <form class="card comment-form"
                hx-post="{% url 'comment_create' slug=article.slug %}"
                hx-target="#comment-list" hx-swap="innerHTML"
                hx-on::after-request="this.reset()">
            {% csrf_token %}
            <div class="card-block">
              <textarea class="form-control" name="body" placeholder="Write a comment..." rows="3"></textarea>
            </div>
            <div class="card-footer">
              <img src="{% if user.image %}{{ user.image }}{% else %}{% static 'images/default-avatar.svg' %}{% endif %}" class="comment-author-img" alt="{{ user.username }}">
              <button class="btn btn-sm btn-primary" type="submit">Post Comment</button>
            </div>
          </form>
          {% else %}
          <p class="comment-auth-prompt">
            <a href="{% url 'register' %}">Sign in or sign up</a> to add comments on this article.
          </p>
          {% endif %}

          <div id="comment-list">
            {% include "partials/comment_list.html" %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
